*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kosugi Maru', sans-serif; /* anime font */
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --bg--color: #10101a;
    --main-color: #9370DB;
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body {
    background-color: var(--bg--color);
    color: var(--text-color);
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg--color);
    padding: 24px 14%;
    transition: .3s;
}

/* Navbar */
.logo {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

span {
    color: var(--main-color)
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: .3s;
}

#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Home Section */
section {
    padding: 120px 14%;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;  
}

.home-img img {
    width: 600px;
    max-width: 100%;
    height: auto;
}

.home-text h5 {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}

.home-text h1 {
    color: var(--text-color);
    font-size: var(--big-font);
    font-weight: 700;
    margin: 0 0 20px;
    line-height: 1;
}

.home-text h6 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.btn {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    display: inline-block;
    padding: 0 25px;
    line-height: 42px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}

.btn:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

/* About Section */
.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
}

.about-img img {
    width: 580px;
    max-width: 100%;
    height: auto;
}

.about-text h3 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 30px;
    letter-spacing: 6px;
}

.about-text h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    max-width: 470;
    margin-bottom: 2rem;
}

.about-text p {
    color: var(--2nd-main-color);
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    max-width: 570px;
}

.main-btn .btn {
    margin-right: 20px;
}

/* CTA Section */
.cta {
    background: #0b0b13;
    width: 100%;
    padding: 150px 0;
    text-align: center;
    margin: 100px auto;
}

.cta h4 {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
}

/* Resume Section */
.resume {
    text-align: center;
}

.resume h3 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 580;
    margin: 0 0 30px;
    letter-spacing: 6px;
}

.resume .center {
    display: flex;
    justify-content: center;
}

.resume-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-gap: 3rem;
    align-items: center;
    margin-top: 4.4rem;
}

.box {
    background: #0b0b13;
    padding: 40px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.box h6 {
    color: #3e4455;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h4 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 13px;
}

.box p {
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.2rem;
    line-height: 1.8rem;
    color: var(--2nd-main-color);
}

.box h5 {
    font-size: 14px;
    font-weight: 500;
    color: var(--2nd-main-color);
}

.box:hover {
    transform: translate(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

/* Contact Section */
.contact {
    text-align: center;
}

.contact-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form {
    position: relative;
    width: 550px;
}

form input, form textarea {
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    background: #0b0b13;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

form input::placeholder, form textarea::placeholder {
    color: var(--2nd-main-color);
}

textarea {
    height: 200px;
    resize: none;
}

form .send-btn {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    display: inline-block;
    padding: 0 25px;
    line-height: 42px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    margin-top: 5px;
}

form .send-btn:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

/* Footer */
.footer {
    text-align: center;
    padding: 30px;
    color: var(--2nd-main-color);
    background: #0b0b13;
    line-height: 1.8rem;
    margin-top: 3rem;
}


/* Media query for mobile devices with screen size up to 768px */
@media (max-width: 768px) {
    header {
        padding: 18px 3%;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        background: #0b0b13;
        position: absolute;
        top: -500px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transition: 0.2s ease;
    }
    .navbar a{
        display: block;
        margin: 1rem;
        padding: 1rem;
        border-left: 2px solid var(--main-color);
    }
    .navbar.active {
        top: 100%;
    }

    .home {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-top: 80px;
        height: auto;
        text-align: center;
        padding: 50px 3%;
    }
    .home-img img {
        width: 100%;
        height: auto;
    }
    .home-text h5 {
        font-size: 20px;
    }
    .home-text h1 {
        font-size: 2.5rem;
    }
    .home-text h6 {
        font-size: 14px;
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 50px 3%;
    }
    .about-img-container img {
        width: 100%;
    }
    .about-text h3 {
        font-size: 22px;
    }
    .about-text h2 {
        font-size: 1.6rem;
    }
    .about-text p {
        font-size: 0.9rem;
    }
    .resume-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2rem;
        margin-top: 4.4rem;
    }
    .box h4 {
        font-size: 1rem;
    }
    .box p {
        font-size: 0.8rem;
    }
    .box h5 {
        font-size: 12px;
    }
    .contact-form form {
        width: 100%;
    }
}

